/* ---- root ---- */

:root{
  --:;
  --:;
}

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

h1 {
  font-family: 'Comfortaa', cursive;
}

body {
  font-family: 'Montserrat', sans-serif;

}

/* ---- layout ---- */


.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* ---- navbar ---- */
nav{
  width:100%;
  display:flex;
  flex-flow:row wrap;
  justify-content:space-between;
  position:fixed;
  top:0;
}
nav ul{
  display:flex;
  justify-content: space-between;
  list-style: none;
}
nav li{
  padding:0 10px;
}
nav a{
  text-decoration:none;
}

/* ---- header ---- */

#home{
  margin-top:50px;
  height:300px;
}

/* ---- slider ---- */

.slider {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 30;
  background-color: $color-bg;
}

#slides {
    position: relative;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

/*
non-essential styles:
just for appearance; change whatever you want
*/

.slide {
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;

    .text {
      display: flex;
      margin: 70% 0;
      flex-direction: column;
      align-items: center;
      padding: 30px 10px;
    }

    h1 {
      flex: 1;
      font-size: 40px;
      color: $color-selected;
      letter-spacing: 1px;
    }

    p {
      flex: 1;
      font-size: 20px;
      text-align: center;
      color: $color-bg;
      letter-spacing: 1px;
      line-height: 28px;
    }
}

.slide:nth-of-type(1) {
    background: url('./images/spirulina.jpg') no-repeat 0 0;
}
.slide:nth-of-type(2) {
    background: url('./images/spirulina.jpg') no-repeat 0 0;
}
.slide:nth-of-type(3) {
    background: url('./images/spirulina.jpg') no-repeat 0 0;
}

/* ---- benefits ---- */
#benefits{
  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
  text-align:center;
}

.benefit{
  width:60%;
  margin:10px auto;
}
/* ---- footer ---- */

/* ---- components ---- */

/* ---- css shame ---- */

